.square{
    width: 25px;
    height: 25px;
    border: 1px solid #7e7777;
    border-radius:5px;
}

.squareContainerWeek {
    display: flex;
    flex-direction: row;
    gap: 2px;
    justify-content: space-between; 
}

.severalWeeksContainer{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.lineStaffSeveralContainer{
    display: flex;
    flex-direction: row;
}

.staffMemberContainer{
    display: flex;
    flex-direction: row;
}

.staffMember{
    color: white;
}

.userIcon{
    color: white;
}

.staffName{
    margin: 0 10px 0 5px;
}